<%= form_for @book_transaction do |f| %>
  <% if @book_transaction.errors.any? %>
    <div class="error_explanation">
      <span><b>Errors</b></span>
      <ul>
        <% @book_transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "new_form">
    <div>
      <%= f.label :student_id %><br>
      <%= f.collection_select(:student_id, Student.all, :id, :name) %>
    </div>

    <div>
      <%= f.label :book_id %><br>
      <%= f.collection_select(:book_id, Book.all, :id, :title) %>
    </div><br>

    <div>
      <%= f.label :issue_date %><br>
      <%= f.text_field :issue_date, readonly: true %>
    </div><br>

    <div>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  </div>  
<% end %>
