<% if @students.empty? %>
  <center><h3>No student except you</h3>
  <% if can? :create, @students %>
      <%= link_to 'Add new student', new_student_path, :title => "Add a new student" %>
    <% end %> 
  </center>
<% else %>
  <div>
    <h3> Students List </h3>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Student Name</th>
        <th>View Profile</th>
      </tr>
      <% @students.each_with_index do |student, n| %>
        <tr>
          <td><%= n+1 %></td>
          <td><%= student.name %></td>
          <td><%= link_to "Show", student_path(student), :title => "View student information" %>
        </tr>
      <% end %>
    </table>
    <% if can? :create, @students %>
      <%= link_to 'Add new student', new_student_path, :title => "Add a new student" %>
    <% end %> 
  </div>
<% end %>
<%= will_paginate @students %>
