<div>Name - <%= @student.name %></div>
<div>Email - <%= @student.email %></div>
<div>Phone - <%= @student.phone_no %></div>
<% if can? :manage, @students %>
  <button class = "btn btn-danger btn-sm" id = "active_button" value = "<%= @student.id %>" table = "<%= @student.class %>"><%= check_current_status(@student.id) %></button>
<% end %>
<center>
  <% if @books_assigned_to_student.empty? %>
    <p>No book assigned</p>
  <% else %>
    <p>Assigned Book</p> 
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Book Title</th>
        <th>Issue date</th>
        <th>Fine on Book</th>
        <% if can? :manage, current_student %>
          <th>Return Book</th>
        <% end %>
        <th>
      </tr>
      <% @books_assigned_to_student.each_with_index do |transaction, n| %>
        <tr>
          <td><%= n+1 %></td>
          <td><%= transaction.book.title.capitalize() %></td>
          <td><%= transaction.issue_date.to_formatted_s(:long_ordinal) %></td>
          <% if fine_calculation(transaction.id) > 15 %>
            <td><%= fine_calculation(transaction.id) - 15 %></td>
          <% else %>
            <td><%= transaction.fine %></td>
          <% end %>
          <% if can? :manage, current_student %>
            <td><%= link_to "Return Book", edit_book_transaction_path(transaction) %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</center>