<% if @books.empty? %>
  <center><h3>No Book</h3></center>
  <%= link_to 'Add book', new_book_path %> 
<% else %>
  <div>
    <h3> books List </h3>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Total copy</th>
        <th>No Of available copy</th>
        <% if can? :manage, @books %>
          <th colspan = "3">Actions</th>
        <% end %>
      </tr>
      <% @books.each_with_index do |book, n| %>
        <tr>
          <td><%= n+1 %></td>
          <td><%= book.title.capitalize() %></td>
          <td><%= book.author.capitalize() %></td>
          <td><%= book.no_of_copy %></td>
          <td><%= avialable_book_count(book.id) %></td>
          <% if can? :manage, @books %>
            <td><%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, book_path(book), :title => "See all books copies" %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_book_path(book), :title => "Edit book information" %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, book_path(book), :method => :delete , data: { confirm: "Are you sure?" }, :title => "Delete book" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if can? :manage, @books %>
      <%= link_to 'Add book', new_book_path, :title => "Add a new Book" %> 
    <% end %>
  </div>
<% end %>
<%= will_paginate @books %>