<%= radio_button_tag :assigned, "all" %> All
<%= radio_button_tag :assigned, "assigned" %> Assigned
<%= radio_button_tag :assigned, "unassigned" %> Unassigned
<%= hidden_field_tag :radioid, @book.id  %>
<div id = "book_show">
  <%= render "book_copy" %>
</div>